.outermost {
    position: absolute;
    margin-top: 100px;
    margin-left: 135px;
    background-color: white;
}
.innerbox {
    width:90%;
    margin-top: 50px;
    margin-bottom: 50px;
    height:auto;
}
.banner {
    position: relative;
    top: auto;
    background-color: maroon;
    color: white;
    width: 70px;
}
.article1 {
    display: block;
    width: 100%;
    height: auto;
}
